<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <img src="/images/site/icon.png" alt="CSE Motors Logo" style="height:1.5em;vertical-align:middle;">
  <p class="copyright">&copy; <%= year %>, CSE Motors</p>
  <p><a href="/error" id="error-link">Trigger Error</a></p>
</footer>