<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="top-header">
    <div class="siteName"><a href="/">My Site</a></div>
    <div id="tools">Tools</div>
  </div>
  <nav>
    <ul class="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Custom</a></li>
      <li><a href="#">Sedan</a></li>
      <li><a href="#">SUV</a></li>
      <li><a href="#">Truck</a></li>
    </ul>
  </nav>
</body>
</html>